/* html style */
html{
    background-color: lightcyan;

}

/* body style */
body{
    background-color: bisque;
    width: 900px;
    border: 2px solid black;
}

header{
    background-color: aquamarine;
    height: 130px;
    border-bottom: 2px solid blue;
}

header img {
    width: 90px;
    height: 90px;
    float: left;
}

header h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 100px;
    text-shadow: 5px;
}

nav ul{
    list-style-type: none;
}

nav ul li a{
    list-style-type: none;
}



main img {
    width: 500px;
    height: 300;
}

footer {
    background-color: lightcyan;
    height: 140px;
    border-top: solid blue;
}

footer p{
    
    text-align: center;
    font-style: italic;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

